################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/WP.Device.Demo/.vs/WP.Device.Demo/v15/Server/sqlite3
